.card {
	display: flex;
	position: relative;

	&-header {
	}
	&-body {
	}
	&-footer {
	}
	&-heading {
	}
	&-title{
		
	}
	&-description {
	}
	&-image {
		img {
			display: block;
			width: 100%;
		}
	}
}